AddHandler application/x-httpd-php81 .php .php5 .php4 .php3

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L,QSA]
RewriteRule ^ public/index.php [L]
#RewriteRule ^(css|js|images)/(.*)$ public/$1/$2 [L,NC]
</IfModule>